<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
       <!--useeinfo部分テンプレート-->
      <%= render 'books/userinfo', user: @user, book: @book %>
    </div>
    
  </div>
</div>